
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0%;
    }
  div.container{
    border: 5px solid #f54a07;
    width: 80%;
    margin:0 auto;
  }
  h2{
  background-color:aqua;
  }
  h1{
    background-color: rgb(152, 122, 82);
  }
  footer{
    background-color: rgb(179, 216, 237);
  }
  .hero img{
    width: 100%;
  }
  div.left,div.right,div.middle{
    border: 3px dotted rgb(33, 140, 119);
    width: 30%;
  }
  aside{
    display: flex;
    justify-content: space-between;
  }
  img{
    width:100%
  }
  aside{
    overflow: hidden;
  }

  nav{
      background-color: dimgray;
  }
  ul{
      text-align: center;
  }
  li{
    display: inline-block;
    width: 150px;
    border: 2px solid white;
    line-height: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;;
  }
  a{
    color: aliceblue;
    text-decoration: none;
    border:1px solid red;
    display: block;
  }